main {
    .tituloPrincipal {
        font-family: $tipografia2;
        text-align: center;
        background-color: $color-violeta-oscuro;
        font-weight: normal;
        font-size: 4rem;
        @include texto (white, 1rem);
    }

    .nosotros {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        height: auto;
        

        .mickey {
            background-color: rgba(255, 255, 255, 0.555);
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
        }
        
        
        #historia {
            font-family: $tipografia1;
            font-size: 2.5rem;
            font-weight: bold;
            background-color: $color-celeste;
            @include texto (white, 5.5rem);
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem; 
            text-align: justify;
        }
    }
}

