$color-lila: #DEC5E3;
$color-celeste:  #8bcbe5;
$color-violeta: #B692BC;
$color-blanco: rgba(255, 255, 255, 0.788);
$color-violeta-oscuro: #8E5F95;
$tipografia1: 'IBM Plex Sans Condensed', sans-serif;
$tipografia2: 'Boogaloo', cursive;
$color-azul-claro: #65bfe2;

@mixin texto($color, $padding) {
    color: $color;
    padding: $padding;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*el rem se toma de a 10px*/
}

header{
    background-color: $color-blanco;
    text-align: center;
    border-radius: 2rem;
    width: auto;
    height: 50%;
    margin: 2rem;
    display: grid;
    grid-template-columns: 45% 30% 1% 25%;
    grid-template-areas: 
    "logo menu espacio redes";
    align-items: center;

    
    #logo {
        text-align: center;
        grid-area: logo;    /*posicionamiento del logo*/
    }

    
    .estiloRedes { /*redes sociales al lado del menu*/
        text-align: right;
        word-spacing: 2rem;
        padding-right: 5rem;
        grid-area: redes;
    }

    
    nav {
        grid-area: menu;
        /*estilo de menu*/
        
        .enlace, .enlaceActivo {
            text-decoration: none;
            font-family: $tipografia1;
            font-size: 2rem;
            text-align: center; 
            color: $color-azul-claro;
            font-weight: bold;
            padding: 1.2rem;
        }

        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-items: center; 
            justify-content: left;
            width: 100%;
        }

        .enlace:hover {
        background-color: $color-celeste;
        color: white;
        border-radius: 1rem;
        }

        .enlaceActivo {
            background-color: $color-celeste;
            color: white;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem; 
        }
    }
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/13/20/balloons-1869790_960_720.jpg);
    background-size: cover;
    margin: 0px;
}




footer {
    width: 100%;
    height: 25rem;
    background-color: $color-lila;
    font-size: 1.8rem;
    color:rgb(26, 26, 26);
    font-family: $tipografia1;
    font-weight: bold;
    line-height: 1.5;
    display: grid;
    grid-template-areas: 
        "textoIzq textoIzq textoDerecha"
        "textoIzq textoIzq textoDerecha"
        "derechosAutor derechosAutor derechosAutor";
    border-top: solid 2px $color-violeta-oscuro;


    .textoFooterDer {
        grid-area: textoDerecha;
        padding: 3rem;
        width: 45rem;
        text-align: right;
    }
    
    .textoFooterIzq {
        grid-area: textoIzq;
        text-align: justify;
        width: 75rem;
        padding: 3rem;
    }
    
    
    .footerTitles {
        color: $color-violeta-oscuro;
        font-family:  $tipografia2;
        font-size: 2.5rem;
        font-weight: normal;
    }
    
    
    /*linea derechos de autor*/
    .derechosAutor{
        color: $color-violeta-oscuro;
        font-family: $tipografia1;
        font-size: 1.5rem;
        text-align: center;
        grid-area: derechosAutor;
    }
 } 

@import "nosotros";

@import "index";

@import "promociones";

@import "contacto";

@import "ubicacion";

@import "mediaQueries";