* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /*el rem se toma de a 10px*/ }

header {
  background-color: rgba(255, 255, 255, 0.788);
  text-align: center;
  border-radius: 2rem;
  width: auto;
  height: 50%;
  margin: 2rem;
  display: grid;
  grid-template-columns: 45% 30% 1% 25%;
  grid-template-areas: "logo menu espacio redes";
  align-items: center; }
  header #logo {
    text-align: center;
    grid-area: logo;
    /*posicionamiento del logo*/ }
  header .estiloRedes {
    /*redes sociales al lado del menu*/
    text-align: center;
    word-spacing: 2rem;
    text-align: right;
    padding-right: 5rem;
    grid-area: redes; }
  header nav {
    grid-area: menu;
    /*estilo de menu*/ }
    header nav .enlace, header nav .enlaceActivo {
      text-decoration: none;
      font-family: "IBM Plex Sans Condensed", sans-serif;
      font-size: 2rem;
      text-align: center;
      color: #65bfe2;
      font-weight: bold;
      padding: 1.2rem; }
    header nav ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-items: center;
      justify-content: left;
      width: 100%; }
    header nav .enlace:hover {
      background-color: #8bcbe5;
      color: white;
      border-radius: 1rem; }
    header nav .enlaceActivo {
      background-color: #8bcbe5;
      color: white;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem; }

body {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/29/13/20/balloons-1869790_960_720.jpg);
  background-size: cover;
  margin: 0px; }

footer {
  width: 100%;
  height: 25rem;
  background-color: #DEC5E3;
  font-size: 1.8rem;
  color: #1a1a1a;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  display: grid;
  grid-template-areas: "textoIzq textoIzq textoDerecha" "textoIzq textoIzq textoDerecha" "derechosAutor derechosAutor derechosAutor";
  border-top: solid 2px #8E5F95;
  /*linea derechos de autor*/ }
  footer .textoFooterDer {
    grid-area: textoDerecha;
    padding: 3rem;
    width: 45rem;
    text-align: right; }
  footer .textoFooterIzq {
    grid-area: textoIzq;
    text-align: justify;
    width: 75rem;
    padding: 3rem; }
  footer .footerTitles {
    color: #8E5F95;
    font-family: "Boogaloo", cursive;
    font-size: 2.5rem;
    font-weight: normal; }
  footer .derechosAutor {
    color: #8E5F95;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    grid-area: derechosAutor; }

.tituloIndex, .encabezado2 .encabezado2__titulo, .encabezado2 .encabezado2__titulo--mediano, .nosotros .nosotros__titulo {
  background-color: #B692BC;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: "Boogaloo", cursive;
  font-size: 5rem;
  font-weight: normal; }

#carouselExampleIndicators {
  padding: 5rem;
  background-color: #dacfead0;
  margin-bottom: 0.5rem; }

.encabezado2 .encabezado2__titulo, .encabezado2 .encabezado2__titulo--mediano {
  font-size: 40px;
  font-weight: normal; }

.encabezado2 .encabezado2__titulo--mediano {
  font-size: 30px; }

#mediosPago {
  color: white;
  padding: 10px;
  background-color: #8bcbe5;
  font-size: 20px;
  font-weight: normal;
  text-align: center; }

.nosotros .nosotros__titulo {
  font-size: 40px;
  font-weight: normal; }

.nosotros .nosotros__contenido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: auto; }

.nosotros .nosotros__imagen {
  background-color: rgba(255, 255, 255, 0.788);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; }

.nosotros .nosotros__historia {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: #8bcbe5;
  padding: 60px 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }
